#footer{
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ebebeb;
}
#image {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    border: 5px
  }